<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Customer</title>
</head>
<body>
    <table>
        <thead>
          <tr>
            <th>Date:</th>
            <th>Customer Name</th>
            <th>Car Model</th>
            <th>Repair fee</th>
          </tr>
        </thead>
        <tbody>
          <% customerDetails.forEach(function(customer) { %>
            <tr>
              <td><%= customer.date %></td>
              <td><%= customer.custName %></td>
              <td><%= customer.carModel %></td>
              <td><%= customer.fee %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <br><br>
      <a href="/form">Add Customer</a>
      <a href="/">Return home</a>
</body>
</html>